.container {
    text-align: center;
    // background: rgba(240, 240, 240, 0.8);
    // border: solid 1px black;
    // border-radius: 10px;
}

.container .weatherDetail {
    margin: 10px;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5px;
}