.weatherDetail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10px 15px 10px 15px;

    .arrowIcon {
        position: absolute;
        top: 15px;
        left: 95px;
    }

    .uvScale {
        height: 6px;
        width: 100%;
        border-radius: 10px;
        background: linear-gradient(to right, green, yellow, red, purple);
    }

    .UV {
        text-align: left;
        width: 100%;
        background: linear-gradient(to right, green, yellow, red, purple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media only screen and (min-width: 1340px) {
        .arrowIcon {
            top: 10px;
        }
    }
}

