// $mouseX: 0deg;
// $mouseY: 0deg;
:root {
    --mouseX: 0deg;
    --mouseY: 0deg;
}

.icon {
    transform: rotateX(calc(var(--mouseY)))
        rotateY(calc(var(--mouseX)));
    transform-origin: center;
    transition: transform 0.5s;
    // box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
}




