.backgroundImage {
    position: absolute;
    height: 100%;
    max-height: 650px;
    width: 100%;
    z-index: -5;
}

.day {
    background: linear-gradient(to bottom, #81cdff, #b9ecff, #ffffff);
    animation: fade_in 5s;
}

.cloudy-background, .rain-background, .fog-background {
    background: linear-gradient(to bottom, darkgrey, #ffffff);
}

.sky {
    background: linear-gradient(to bottom, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 10;
    animation: fade_out 5s forwards linear;
}

@keyframes fade_out {
    0% {opacity: 1; z-index: 10;}
    100% {opacity: 0; z-index: -10;}
}

.shelf-cloud {
    position: relative;
    width: 100%;
    height: 40%;
    overflow: hidden;

    .shelf-cloud-left {
        position: absolute;
        top: 0;
        left: -80px;
        height: 110px;
        width: 80%;
        border-radius: 50%;
        background: linear-gradient(to top, grey, #DCDCDC);
        animation: shelf_cloud_drift_left 5s forwards linear;

        &:before {
            content: "";
            position: absolute;
            top: -15px;
            left: 0;
            height: 50px;
            width: 50%;
            border-radius: 50%;
            background: linear-gradient(to top, grey, #DCDCDC);
        }
    
        &:after {
            content: "";
            position: absolute;
            top: 70px;
            left: 255px;
            height: 25px;
            width: 25%;
            border-radius: 50%;
            background: linear-gradient(to top, grey, #DCDCDC);
            z-index: 2;
        }
    }
    
    .shelf-cloud-right {
        position: absolute;
        top: 0;
        right: -40px;
        height: 125px;
        width: 80%;
        border-radius: 50%;
        background: linear-gradient(to top, grey, #DCDCDC);
        z-index: -1;
        animation: shelf_cloud_drift_right 8s forwards linear;
    
        &:before {
            content: "";
            position: absolute;
            top: -5px;
            right: 26px;
            height: 30px;
            width: 70%;
            border-radius: 50%;
            background: linear-gradient(to top, grey, #DCDCDC);
        }
    
        &:after {
            content: "";
            position: absolute;
            top: 92px;
            right: 22px;
            height: 35px;
            width: 25%;
            border-radius: 50%;
            background: linear-gradient(to top, grey, #DCDCDC);
        }
    }
}

@keyframes shelf_cloud_drift_left {
    from {transform: translateX(-100%)}
    to {transform: translateX(0)}
}

@keyframes shelf_cloud_drift_right {
    from {transform: translateX(100%)}
    to {transform: translateX(0)}
}

.raining {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;

    .rain {
        position: absolute;
        width: 1.5px;
        height: 50px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, blue 100%);
    }

    $rain: 50;
    
    @for $i from 1 through $rain {
        $top: (random(50) + 50) * 1%;
        $left: random(100) * 1%;
        $opacity: (random(30) + 30) * 0.01;
        $delay: random(20) -1s;

        .rain:nth-of-type(#{$i}) {
            animation-name: rain-#{$i};
            animation-delay: $delay;
            animation-duration: random(6) + 4s;
            animation-iteration-count: infinite;
            left: $left;
            opacity: $opacity;
            top: -$top;
        }

        @keyframes rain-#{$i} {
            0% {
                left: $left;
                opacity: $opacity;
                top: -$top;
            }
            100% {
                opacity: 0;
                top: $top + 40%;
            }
        }
    }
}

.night {
    background: linear-gradient(to bottom, #131862, #2e4482, #546bab, #87889c, #bea9de);
    animation: fade_in 2s;
}

.sun, .moon {
    position: absolute;
    left: 25%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: -1;
    animation-delay: 5s;
    animation: rise 6s forwards ease-in-out;
}

@keyframes rise {
    0% {top: 100%; opacity: 0;}
    25% {opacity: 0;}
    100% {top: 40%; opacity: 1;}
}

.sun {
    background: yellow;
    box-shadow: 0px 0px 60px 5px yellow;  

    .ray-container {
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;	
        width: 80px;  
        z-index: -1;
        animation: ray_anim 120s linear infinite;

        .ray {
            position: absolute;
            margin-top: 10px;
            margin-left: 15px;
            border-radius: 80% 80% 0 0;
            opacity: 0.2;
            z-index: -1;
            background: linear-gradient(to top, rgba(255, 255, 0, 0) 0%, rgba(255, 255, 0, 0.8) 50%, rgba(255, 255, 0, 0) 100%); 
        }

        .ray1 {    
            height: 170px;
            width: 30px;
            transform: rotate(180deg);
            top: -175px;
            left: 15px;
        }

        .ray2 {
            height: 100px;
            width: 8px;
           transform: rotate(220deg);
            top: -90px;
            left: 75px;
        }

        .ray3 {
            height: 170px;
            width: 50px;
            transform: rotate(250deg);
            top: -80px;
            left: 100px;
        }

        .ray4 {
            height: 120px;
            width: 14px;
            transform: rotate(305deg);
            top: 30px;
            left: 100px;
        }

        .ray5 {
            height: 140px;
            width: 30px;
            transform: rotate(-15deg);
            top: 60px;
            left: 40px;
        }

        .ray6 {
            height: 90px;
            width: 50px;
            transform: rotate(30deg);
            top: 60px;
            left: -40px;
        }

        .ray7 {
            height: 180px;
            width: 10px;
            transform: rotate(70deg);
            top: -35px;
            left: -40px;
        }

        .ray8 {
            height: 120px;
            width: 30px;
            transform: rotate(100deg);
            top: -45px;
            left: -90px;
        }

        .ray9 {
            height: 80px;
            width: 10px;
            transform: rotate(120deg);
            top: -65px;
            left: -60px;
        }
        .ray10 {
            height: 190px;
            width: 23px;
            transform: rotate(150deg);
            top: -185px;
            left: -60px;
        }

        @keyframes ray_anim { 
            from {transform: rotate(0deg); transform: rotate(0deg);}    
            to {transform: rotate(360deg); transform: rotate(360deg);}
        }
    }
}

.stars {
    z-index: -10;

    @function generate_stars ($width, $color, $density) {
        $h-shadow: random($width);
        $v-shadow: random($width);

        $stars: "#{$h-shadow}px #{$v-shadow}px #{$color}";
        @for $i from 2 through $density {
            $h-shadow: random($width);
            $v-shadow: random($width);
            $stars: "#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}";
        }
        @return unquote($stars);
    }

    @mixin star_content($width, $color, $density, $speed, $delay) {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        opacity: 0;
        z-index: -10;
        box-shadow: generate_stars($width, $color, $density);
        animation: twinkle $speed+s linear $delay+s infinite alternate;
    }

    @keyframes twinkle {
        0% {opacity: 0;}
        50% { opacity: 1;}
        100% { opacity: 0;}
    }

    .star-group1 {
        @include star_content(2000, #fff, 100, 2, 0);
    }

    .star-group2 {
        @include star_content(2000, #fff, 100, 2, 0.2);
    }

    .star-group3 {
        @include star_content(2000, #fff, 100, 4, 0.5);
    }
}

.moon {
    background: white;
    box-shadow: 0px 0px 125px 25px white;
    .crater {
        position: absolute;
        border-radius: 50%;
        background: slategray;
        box-shadow: 0px 0px 25px 4px slategray;
    }

    .crater1 {
        width: 15px;
        height: 15px;
        top: 20px;
        left: 15px;
    }

    .crater2 {
        width: 15px;
        height: 15px;
        top: 48px;
        left: 30px;
    }

    .crater3 {
        width: 20px;
        height: 20px;
        top: 35px;
        left: 48px;
    }
}

@keyframes fade_in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    z-index: 5;
    animation: fade_in 4s;

    .cloud {
        position: absolute;
        height: 10px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 50px 2px #BFD5E0;
        animation: cloud_drift 20s linear infinite;
    }

    .small-cloud {
        height: 10px;
        width: 40px;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 15%;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: inherit;
        }
    }

    .cloud1 {
        top: 55%;
        left: 75%;   
        z-index: 1;
    }

    .cloud2 {
        top: 115%;
        left: 42%;   
        z-index: 1;
    }

    .cloud3 {
        top: 145%;
        left: 65%;   
        z-index: 1;
    }

    .cloud4 {
        top: 65%;
        left: 15%;   
        z-index: 1;
    }

    .cloud5 {
        top: 105%;
        left: 90%;   
        z-index: 1;
    }

    .large-cloud {
        height: 20px;
        width: 80px;

        &::before{
            content: "";
            position: absolute;
            bottom: 30%;
            left: 15%;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: inherit;
        }

        &::after{
            content: "";
            position: absolute;
            bottom: 60%;
            left: 60%;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: inherit;
        }
    }
}

@keyframes cloud_drift {
    from {transform: translateX(0)}
    to {transform: translateX(-400%)}
}

.mountains {
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    animation: fade_in 10s;
    
    .large-mountain-farleft {
        position: absolute;
        bottom: -1px;
        left: -13%;
        width: 20%;
        height: 75%;
        background: #044946;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        z-index: 3;
    
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #044946 0%, #AF7B53 75%);
            z-index: 4;
        }
    }

    .large-mountain-farright {
        position: absolute;
        bottom: 0;
        left: 7%;
        width: 20%;
        height: 75%;
        background: #38845e;
        clip-path: polygon(0 1%, 0% 100%, 100% 100%);
        z-index: 3;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #38845e 0%, #AF7B53 75%);
            z-index: 4;
        }
    }

    .small-mountain-left {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 25.1%;
        height: 45%;
        background: #044946;
        // background-image: linear-gradient(to top, transparent 0%, #AF7B53 100%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        opacity: 0.9;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #044946 0%, #AF7B53 75%);
            z-index: 4;
        }
    }

    .small-mountain-right {
        position: absolute;
        bottom: 0;
        left: 25%;
        width: 25%;
        height: 45%;
        background: #38845e;
        clip-path: polygon(0 1%, 0% 100%, 100% 100%);
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #38845e 0%, #AF7B53 75%);
            z-index: 4;
        }
    }

    .medium-mountain-left {
        position: absolute;
        bottom: -1px;
        left: 18%;
        width: 25.1%;
        height: 40%;
        background: #044946;
        // background-image: linear-gradient(to top, transparent 0%, #AF7B53 100%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        opacity: 0.6;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #044946 0%, #AF7B53 75%);
            z-index: 4;
        }
    }

    .medium-mountain-right {
        position: absolute;
        bottom: 0;
        left: 43%;
        width: 25%;
        height: 40%;
        background: #38845e;
        clip-path: polygon(0 1%, 0% 100%, 100% 100%);
        opacity: 0.6;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #38845e 0%, #AF7B53 75%);
            z-index: 4;
        }
    }

    .large-mountain-left {
        position: absolute;
        bottom: -1px;
        right: 35%;
        width: 35.1%;
        height: 70%;
        background: #044946;
        // background-image: linear-gradient(to top, transparent 0%, #AF7B53 100%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        z-index: 3;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #044946 0%, #AF7B53 75%);
            z-index: 4;
        }
    }

    .large-mountain-right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35%;
        height: 70%;
        background: #38845e;
        clip-path: polygon(0 1%, 0% 100%, 100% 100%);
        z-index: 3;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #38845e 0%, #AF7B53 75%);
            z-index: 4;
        }
    }

    .medium-mountain-farleft {
        position: absolute;
        bottom: -1px;
        right: 4%;
        width: 20%;
        height: 32%;
        background: #044946;
        // background-image: linear-gradient(to top, transparent 0%, #AF7B53 100%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        opacity: 0.7;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #044946 0%, #AF7B53 75%);
            z-index: 4;
        }
    }

    .medium-mountain-farright {
        position: absolute;
        bottom: 0;
        right: -16%;
        width: 20%;
        height: 32%;
        background: #38845e;
        clip-path: polygon(0 1%, 0% 100%, 100% 100%);
        opacity: 0.7;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0%;
            height: 40px;
            width: 100%;
            background: linear-gradient(to top, #38845e 0%, #AF7B53 75%);
            z-index: 4;
        }
    }
}